/* Reset y estructura general */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1e1e2f;
    color: #f5f5f5;
    line-height: 1.6;
}

/* Estilos de navegación */
header {
    background-color: #33334d;
    padding: 10px 0;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #f5f5f5;
    font-size: 1.6rem;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

nav ul li a:hover,
nav ul li a.active {
    background-color: #6a67ce;
}

/* Estilo de la sección principal */
main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 40px;
}

.section {
    background-color: #29293d;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.section h2 {
    font-size: 2.4rem;
    color: #e5e5f7;
    margin-bottom: 20px;
}

.section ul {
    list-style: none;
    padding-left: 20px;
}

.section ul li {
    font-size: 1.6rem;
    color: #c8c8d1;
    margin-bottom: 10px;
}

/* Estilos para los subtítulos */
.section p strong,
.section ul li strong {
    font-size: 1.8rem; /* Tamaño aumentado */
    color: #ffffff; /* Color blanco intenso */
}

.section p, .section a {
    font-size: 1.6rem;
    color: #c8c8d1;
}

.section h3 {
    font-size: 2rem;
    color: #c8c8d1;
    margin-bottom: 8px;
}

/* Enlace de descarga */
.download-link {
    display: inline-block;
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    font-size: 1.4rem;
    text-decoration: none;
    border-radius: 6px;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.download-link:hover {
    background-color: #45a049;
}

/* Footer */
footer {
    background-color: #33334d;
    padding: 20px;
    text-align: center;
    color: #f5f5f5;
    margin-top: 20px;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    margin-bottom: 10px;
}

.footer-links li a {
    color: #f5f5f5;
    font-size: 1.4rem;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links li a:hover {
    color: #6a67ce;
}

footer p {
    font-size: 1.4rem;
    color: #c8c8d1;
}
